<% include ../partials/header %>
    <div class="">
        <div class="col s12">
            <a href="/event/add" class="btn btn-lg btn-success">Add Events</a>
        </div>
    </div>
    <br>
        <div class="">
            <div class="col s12">
                <% if (items.lenght > 0){%>
                    <table class="table">
                        <thead>
                            <tr>
                                <th>ID</th>
                                <th>Name</th>
                                <th>Description</th>
                                <th>Location</th>
                                <th>Actions</th>
                            </tr>
                        </thead>
                        <tbody>
                            <% items.forEach(function(item, index){%>
                                <tr>
                                    <td> <%= index+1%> </td>
                                    <td><%= item.name %></td>
                                    <td> <%= description %></td>
                                    <td> <%= location %> </td>
                                    <td> <a href="/events/edit/<%= item.id %>">Edit</a>
                                         <a href="/events/delete/<%= item.id %>">Delete</a>
                                     </td>
                                </tr>
                            <%});%>
                        </tbody>
                    </table>
                <% }else { %>
                    <p> <strong> No new event </strong>  </p>
                <% } %>
            </div>
        </div>
    <h2> THIS PAGE</h2>
<% include ../partials/footer %>
